@media only screen and ( min-width : 1px ) {

  .artist-album-info {
    align-items: center;
    color: rgb(231, 228, 226);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 15px;
  }

  .artist-album-info span {
    margin-bottom: 5px;
  }

  .music-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    width: 95%;
  }
}

@media only screen and ( min-width : 601px ) {

  .artist-album-info {
    font-size: 1.1rem;
  }
}

@media only screen and ( min-width : 1024px ) {

  .artist-album-info {
    font-size: 1.3rem;
  }
}
